h1, h2 {
    margin: 0;
}

body{
    display: grid;
    grid-template-rows: 400px;
    background-color: #1f1a17;
    grid-auto-rows: 400px;
}

.shelf {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

.book-row {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 100px;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    gap: 3px;
    height: 320px;
}

.ledge {
    background: linear-gradient(to bottom, #6b4226 0%, #5a3d24 40%, #3a2814 100%);
    height: 30px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.book {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 0.5fr 7fr 0.5fr 1fr;
    box-shadow: 
        2px 4px 6px rgba(0, 0, 0, 0.4),
        -2px 0 4px rgba(0, 0, 0, 0.5) inset;
    z-index: 1;
    height: 320px;
}

.book:hover {
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.5);
}

.bookmark {
    font-size: 18px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7), 0 0 2px rgba(0, 0, 0, 0.7);
}

.info {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    container-type: inline-size;
    padding-inline: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.book-end {
    box-shadow: 
        2px 4px 6px rgba(0, 0, 0, 0.4),
        -2px 0 4px rgba(0, 0, 0, 0.5) inset;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 312.5px;
    width: 100px;
    border: dashed, rgba(243, 230, 216, 0.3);
    background-color: rgba(255,255,255,0.03);
}

.book-end:hover {
    background-color: rgba(255,255,255,0.08);
    border: dashed, rgba(243, 230, 216, 0.8);
}

.book-end > button {
    border: 0;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.03);
    color: rgba(243, 230, 216, 0.3);
    font-size: 25px;
    height: 50px;
    width: 50px;
}

.book-end > button:hover {
    background-color: rgba(255,255,255,0.08);
    color: rgba(243, 230, 216, 0.8);
}